#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

.color {
  height: auto;
  width: 100%;
  text-align: center;
  /* background-color: #aa00ff; */
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  color: #000;
  text-align: center;
}

.block {
  height: 260px;
  width: 100%;
}

.sblock {
  height: 80px;
  width: 100%;
}
.hh {
  margin-top: 130px;
  height: 150px;
}
.hh1 {
  height: 150px;
}
.hh2 {
  height: 600px;
}
.per {
  margin-top: 50px;
  height: 150px;
}
.per1 {
  height: 150px;
}
.per2 {
  height: 150px;
}
